{% extends 'base.html.twig' %}

{% block body %}
    <div class='container showProfile'>
        <div class='jumbotron'>
            <p>You're not allowed to be here !</p>
            <p>Go away</p>
        </div>
    </div>

{% endblock %}
